# Dependencies
node_modules/
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

/.pnp
.pnp.js


# Build
.next/
out/
build/
dist/

# Environment
.env
.env.local
.env.*.local

# Python
__pycache__/
*.py[cod]
venv/
.venv/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Debug
npm-debug.log*
*.log

# TypeScript
next-env.d.ts
*.tsbuildinfo


# vercel
.vercel

# misc
.DS_Store
*.pem

# testing
/coverage
